body {
  background: hsl(205, 0%, 10%);
  overflow: hidden;
}

div.app {
  display: flex;
  justify-content: center;
}

canvas.board-canvas {
  background: hsl(205, 0%, 20%);
  cursor: default;
  height: 100vh;
  width: 100vw;
}
/*
svg.cursor {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}

svg.cursor polygon {
  fill: hsl(48, 100%, 50%);
}
*/
.help {
  background: rgba(255, 255, 255, 0.2);
  color: black;
  margin-top: 10px;
  padding: 10px;
}

.prompt {
  background: rgba(0, 0, 0, 0.5);
  color: hsl(48, 100%, 50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 50%;
  padding: 20px;
  width: 25vw;
  transform: translate(-50%, 0);
}

.centered {
  top: 50%;
  transform: translate(-50%, -50%);
}

.wide {
  width: 85vw;
}

.high {
  height: 85vh;
}

.prompt input {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  color: hsl(48, 100%, 50%);
  padding: 6px;
  font: 20pt monospace;
  border: none;
  width: 100%;
}

.prompt .row {
  display: flex;
  margin: -10px;
}

.prompt .row > * {
  flex: 1 1 0;
  margin: 10px;
}

.prompt .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 350px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.high .gallery {
  max-height: unset;
  flex-grow: 1;
}


.prompt .gallery > canvas {
  margin-bottom: 20px;
}

.prompt button {
  background-color: hsl(48, 100%, 50%);
  border: none;
  font: 20pt sans-serif;
  font-variant: small-caps;
  padding: 6px;
  width: 100%;
  margin-top: 20px;
}

.prompt button.active {
  background-color: hsl(18, 100%, 50%);
}

.prompt button:hover {
  background-color: hsl(18, 100%, 0%);
  color: white;
}

.prompt label {
  background: hsla(0, 0%, 0%, 0.5);
  color: hsl(48, 100%, 50%);
  font: 20pt sans-serif;
  font-variant: small-caps;
  display: block;
  padding: 10px;
}

.prompt label input {
  border: 5px solid hsl(48, 100%, 50%);
  background: transparent;
  margin-top: 5px;
}

.prompt input.ok {
  color: #9c0;
}
